#!/bin/bash

VPN="/opt/cisco/secureclient/bin/vpn"
SERVER="vpn-ac.urz.uni-heidelberg.de"
USER="{{USERNAME}}"
PASS="{{PASSWORD}}"
SECRET="{{SECRET}}"

export PATH="/opt/homebrew/bin:$PATH"


# generate OTP
OTP=$(oathtool --totp -b "$SECRET")

# -s forces scripted input mode (required)
"$VPN" -s connect "$SERVER" > ~/tools/log.txt  2>&1 <<EOF
$USER
$PASS
$OTP
y
EOF

